<div>
	<div class="weui-cells">
		<div class="weui-cell" style="padding: 7px 15px;">
			<div class="weui-cell__bd">
				<input class="weui-input" id="oldPassword" type="password" placeholder="{{loginPassword=='true'?'原来的密码':'新密码'}}" maxlength="11">
			</div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<input class="weui-input" id="newPassword" type="password" placeholder="{{loginPassword=='true'?'新密码':'再输入一次'}}">
			</div>
		</div>
	</div>
	
	<div class="login-div">
		<button class="weui-btn weui-btn_primary login-btn" ng-click="setpasswordClick()">确定</button>
	</div>

</div>