<div>
	<div class="jifen-head weui-form-preview__bd">
		<div class="row" style="font-size: 12px;">
			<p class="pull-left" style="color: white;">当前余额</p>
			<a class="pull-right">提现规则</a>
		</div>
		<div class="row">
			<p class="pull-left" style="color: white;font-size: 24px;">{{yue}}<span style="font-size: 12px;">元</span></p>
		</div>
		<div class="row">
			<button href="javascript:;" class="weui-btn weui-btn_primary weui-toast_content" ng-class="yue>0?'':'weui-btn_disabled'" ng-click="tixianClick()" ng-disabled="yue<=0">提现</button>
		</div>
	</div>
	<div class="weui-cells__title">余额明细</div>
	<div class="weui-cells">
		  <div class="weui-cell" ng-repeat="list in fundList">
		   	 <div class="weui-cell__bd">
		      <p style="font-size: 16px;">{{list.dealType==0?'支出':'收入'}}</p>
		      <p style="font-size: 14px;color: #999;">{{list.dealTime}}</p>
		     </div>
		     <div class="weui-cell__ft" style="color: #ff6e15;">{{list.dealType==0?'-':'+'}}{{list.amounts}}</div>
	 	 </div>

	</div>
	<div class="weui-loadmore weui-loadmore_line" ng-hide="fundList.length>0">
		 <span class="weui-loadmore__tips" style="background-color: transparent;">暂无数据</span>
	</div>
</div>