<div class="weui-cells">
  <a class="weui-cell weui-cell_access" ui-sref= "homeTabs.sub_xiaxian({type:1})">
    <div class="weui-cell__bd">
      <p>一级下线</p>
    </div>
    <div class="weui-cell__ft">{{rebate.child1Headcount}}人，返{{rebate.child1TotalPoints}}积分</div>
  </a>
  <a class="weui-cell weui-cell_access" ui-sref= "homeTabs.sub_xiaxian({type:2})">
    <div class="weui-cell__bd">
      <p>二级下线</p>
    </div>
    <div class="weui-cell__ft">{{rebate.child2Headcount}}人，返{{rebate.child2TotalPoints}}积分</div>
  </a>
  <a class="weui-cell weui-cell_access" ui-sref= "homeTabs.sub_xiaxian({type:3})">
    <div class="weui-cell__bd">
      <p>三级下线</p>
    </div>
    <div class="weui-cell__ft">{{rebate.child3Headcount}}人，返{{rebate.child3TotalPoints}}积分</div>
  </a>
</div>