<div>
	<div class="weui-cells">
		<div class="weui-cell" style="padding: 7px 15px;">
			<div class="weui-cell__bd">
				<input class="weui-input" id="passwortel" type="tel" placeholder="手机号" maxlength="11">
			</div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<input class="weui-input" id="password" type="password" placeholder="密码">
			</div>
		</div>
	</div>
	
	<div class="login-div">
		<button class="weui-btn weui-btn_primary login-btn" ng-click="passworLoginClick()">登录</button>
	</div>

</div>